@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Color Imposed */
:root {
    --Blue: #0065FC;
    --LightBlue: #DEEBFF;
    --Grey: #F2F2F2;
    --darkGrey: rgb(217,217,217);
}
/* Font Imposed */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Verdana, Tahoma, sans-serif;
    font-size: 1em;
    background-color: white;
}
/* accessibility */
.accessibility {
    position: absolute;
    left: -15000px;
}
/* header */
#barreDeTitre {
    margin-bottom: 30px;
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#logoReservia {
    padding: 50px 0 0 50px;
}
#mainNav, #mainNav div {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 460px;
    list-style: none;
    display: flex;
    align-items: center;
}
#mainNav a, a:active, a:visited, a:link {
    text-decoration: none;
}
#mainNav a.ancre {
    color: black;
    font-weight: 500;
    padding-top: 40px;
    box-sizing: border-box;
    height: 100%;
    width: 150px;
    text-align: center;
}
#mainNav a.ancre:hover {
    width: 150px;
    color: var(--Blue);
    padding-top: 38px;
    border-top: 2px solid var(--Blue);
}
#mainNav a.register {
    color: var(--Blue);
    font-weight: bold;
    padding-left: 30px;
}
#mainNav a.register:hover {
    text-shadow: 0px 0px 15px var(--Blue);
}
/* End Header  */
/* searchContent */
/* searchBar */
#searchContent {
    padding-left: 50px;
}
#searchContent h1 {
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: bold;
}
#searchContent p {
    margin-top: 10px;
    font-weight: 500;
}
#searchBar, #buttonFilter, #buttonFilter div, #infoSearch, #infoSearch div {
    display: flex;
    align-items: center;
}
#searchBar i, button {
    text-align: center;
    padding: 15px 0px 15px 0px;
}
#searchBar i {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1px;
    height: 20px;
    width: 50px;
    background-color: var(--Grey);
    border-radius: 15px 0 0 15px;
    text-align: center;
}
#searchBar input {
    padding: 13px 0px 13px 20px;
    border: none;
    border-top: solid 2px var(--Grey);
    border-bottom: solid 2px var(--Grey);
    width: 240px;
    font-weight: 800;
}
input::placeholder {
    color: black;
    font: bold;
}
#searchBar button {
    position: relative;
    right: 5px;
    width: 135px;
    color: white;
    border: none;
    font-weight: 700;
    background-color: var(--Blue);
    border-radius: 0 15px 15px 0;
}
#searchBar button:hover {
    cursor: pointer;
}
/* End searchBar */
/* filter */
#buttonFilter {
    height: 50px;
    margin: 30px 0 30px 0;
}
#buttonFilter p {
    margin: 15px 0 15px 0;
    font-size: 1.1em;
    font-weight: 700;
}
#buttonFilter p:first-child {
    width: 60px;
}
#buttonFilter div {
    height: 46px;
    margin-left: 25px;
    border-top: solid 2px var(--darkGrey);
    border-right: solid 2px var(--darkGrey);
    border-bottom: solid 2px var(--darkGrey);
}
#buttonFilter div, #buttonFilter i {
    border-radius: 90px;
}
#buttonFilter div:first-of-type {
    margin-left: 35px;
}
#buttonFilter div p {
    margin: auto;
    padding: 0 20px 0 13px;
}
#buttonFilter i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Blue);
    height: 50px;
    width: 50px;
    background-color: var(--LightBlue);
}
#buttonFilter div:hover {
    color: var(--Blue);
    border-top: solid 2px var(--Blue);
    border-right: solid 2px var(--Blue);
    border-bottom: solid 2px var(--Blue);
    background-color: var(--darkGrey);
    cursor: pointer;
}
#buttonFilter div:hover i {
    color: var(--darkGrey);
    background-color: var(--Blue);
}
/* End filter */
/* infoSearch */
#infoSearch i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 45px 45px;
    border: solid 1px var(--darkGrey);
    margin-right: 10px;
    color: var(--Blue);
}
#infoSearch p {
    margin: auto 0 auto 0;
}
/* End infoSearch */
/* End searchContent */





/* footer */
footer {
    display: grid;
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    height: 218px;
    background-color: var(--Grey);
}
footer h3 {
    margin: 0;
}
footer div:first-child {
    margin: 50px auto auto 50px;
}
footer div {
    margin-top: 50px;
}
footer div ul {
    padding: 0;
    list-style: none;
    text-decoration: none;
}
footer div ul li {
    padding-bottom: 15px;
}
footer div ul li a {
    font-weight: 500;
    color: black;
}
/* End footer */