@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Color Imposed */
:root {
    --Blue: #0065FC;
    --LightBlue: #DEEBFF;
    --Grey: #F2F2F2;
    --darkGrey: rgb(217,217,217);
}
/* Font Imposed */
body {
    margin: auto;
    max-width: 1440px;
    font-family: 'Raleway', Verdana, Tahoma, sans-serif;
    font-size: 1em;
    background-color: white;
}
#barreDeTitre, #searchContent {
    padding-left: 55px;
}
#mainContent, #activityContent {
    padding-left: 50px;
}
/* accessibility */
.accessibility {
    position: absolute;
    left: -15000px;
}
/* header */
#barreDeTitre {
    margin-bottom: 30px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}
#logoReservia {
    position: absolute;
    left: 55px;
    padding: 25px 0 25px 0;
}
#mainNav {
    height: 100%;
    width: 320px;
    list-style: none;
    display: flex;
    align-items: center;
}
a, a:active, a:visited, a:link {
    color: black;
    text-decoration: none;
}
#mainNav a.ancre {
    font-weight: 500;
    padding-top: 40px;
    box-sizing: border-box;
    height: 100%;
    width: 160px;
    text-align: center;
}
#mainNav a.ancre:hover {
    color: var(--Blue);
    padding-top: 38px;
    border-top: 2px solid var(--Blue);
}
#barreDeTitre a.register {
    height: 100%;
    width: auto;
    text-align: center;
    color: var(--Blue);
    font-weight: bold;
    padding: 40px 80px 0 20px;
}
#barreDeTitre a.register:hover {
    text-shadow: 0px 0px 15px var(--Blue);
}
/* End Header  */
/* searchContent */
/* searchBar */
#searchContent h1 {
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: bold;
}
#searchContent p {
    margin-top: 10px;
    font-weight: 500;
}
#searchBar, #buttonFilter, #buttonFilter div, #infoSearch, #infoSearch div {
    display: flex;
}
#searchBar>i, #searchBar button {
    text-align: center;
}
#searchBar>i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    width: 50px;
    background-color: var(--Grey);
    border-radius: 15px 0 0 15px;
}
#searchBar input {
    padding: 13px 0px 13px 17px;
    border: none;
    border-top: solid 2px var(--Grey);
    border-bottom: solid 2px var(--Grey);
    width: 240px;
    font-weight: 700;
    font-size: 1.2em;
}
input::placeholder {
    color: black;
}
#searchBar button {
    position: relative;
    padding: 15px 0px;
    right: 5px;
    width: 135px;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1.2em;
    background-color: var(--Blue);
    border-radius: 0 15px 15px 0;
}
#searchBar button:hover {
    cursor: pointer;
}
/* End searchBar */
/* filter */
#buttonFilter {
    height: 50px;
    margin: 30px 0 30px 0;
}
#buttonFilter p {
    margin: 15px 0 15px 10px;
    font-size: 1.1em;
    font-weight: 700;
}
#buttonFilter p:first-child {
    width: 60px;
}
#buttonFilter div {
    height: 46px;
    margin-left: 25px;
    border-top: solid 2px var(--darkGrey);
    border-right: solid 2px var(--darkGrey);
    border-bottom: solid 2px var(--darkGrey);
}
#buttonFilter div, #buttonFilter i {
    border-radius: 90px;
}
#bfEco p, #bfFamily p ,#bfLove p, #bfAnimal p {
    margin: auto;
    padding: 0 20px 0 13px;
}
#buttonFilter i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Blue);
    height: 46px;
    width: 50px;
    background-color: var(--LightBlue);
}
#buttonFilter div:hover {
    color: var(--Blue);
    border-top: solid 2px var(--Blue);
    border-right: solid 2px var(--Blue);
    border-bottom: solid 2px var(--Blue);
    background-color: var(--Grey);
}
#buttonFilter div:hover i {
    color: var(--Grey);
    background-color: var(--Blue);
}
/* End filter */
/* infoSearch */
#infoSearch i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 45px 45px;
    border: solid 1px var(--darkGrey);
    margin-right: 10px;
    color: var(--Blue);
}
#infoSearch p {
    margin: auto 0 auto 0;
}
/* End infoSearch */
/* End searchContent */
/* mainContent */
.star {
    color: var(--Blue);
}
.noStar {
    color: var(--darkGrey);
}
.mainLinkLeft i, .mainLinkRight i {
    font-size: 0.7rem;
    margin: -1px;
}
#contentRight>div>i {
    font-size: 1.5rem;
}
.mainLinkLeft, .mainLinkRight, .mainLinkLeft h3, .mainLinkLeft p, .mainLinkLeft div, .mainLinkRight h3, .mainLinkRight p, .mainLinkRight div {
    margin: 0;
    padding: 0;
}
.mainLinkLeft>a, .mainLinkLeft, .mainLinkRight a, .mainLinkLeft:hover, .mainLinkRight a:hover {
    border-radius: 20px;
}
#mainContent {
    margin-top: 40px;
    display: flex;
}
#mainContent h2 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 25px 0 25px 0;
}
#mainContent p {
    font-size: 0.9em;
    font-weight: 600;
}
#mainContent h3 {
    font-size: 1em;
    font-weight: 700;
}
.mainLinkRight h3 {
    padding-bottom: 10px;
}
#mainContent a {
    color: black;
}
#contentLeft>a {
    font-weight: 700;
    font-size: 1.2em;
    max-width: 115px;
}
#contentRight {
    margin: 0 50px 0 40px;
    padding: 20px 40px 0 40px;
}
#contentLeft, #contentRight {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--Grey);
}
#contentLeft {
    padding: 20px 0 0 40px;
}
#contentLeft>div:first-of-type, #contentRight>div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.mainLinkLeft {
    width: 245px;
    height: 200px;
    margin: 0 auto 30px 0;
}
.mainLinkRight a {
    width: 345px;
    height: 145px;
    margin-bottom: 30px;
}
.mainLinkLeft, .mainLinkRight a {
    display: flex;
    box-shadow: 0px 0px 15px var(--darkGrey);
}
.mainLinkRight a>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 45px 15px 0;
}
.mainLinkLeft a>div {
    padding: 5px 0 5px 0;
}
.mainLinkLeft p {
    padding: 5px 0 5px 0;
}
.mainLinkLeft a>div, .mainLinkRight a>div {
    padding-left: 15px;
}
.mainLinkLeft a, .mainLinkRight a {
    background-color: white;
}
#contentLeft img, #contentRight img {
    border: solid 5px white;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
#contentLeft img {
    height: 115px; 
    width: 235px;
    border-radius: 20px 20px 0 0;
}
#contentRight img {
    height: 134px; 
    width: 127px;
    border-radius: 20px 0 0 20px;
    min-width: 127px;
}
.mainLinkLeft:hover, .mainLinkRight a:hover {
    box-shadow: 0px 0px 10px var(--Blue);
    cursor: pointer;
}
/* End mainContent */
/* activityContent */
#activityContent {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
#activityContent H2 {
    margin-top: 0;
}
#activityContent>div {
    display: grid;
    place-items: flex-start;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 20px;
}
.one, .two, .three, .four, .five, .six {
    position: relative;
}
.one, .one img {
    height: 445px;
    width: 305px;
 }
.one {
    grid-column: 1;
    grid-row: 1;
  }
.two, .two img {
    height: 235px;
    width: 305px;
}
.two {
    grid-column: 2;
    grid-row: 1;
}
.three, .three img {
    height: 165px;
    width: 305px;
}
.three {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
}
.four, .four img {
    height: 445px;
    width: 305px;
}
.four {
    grid-column: 3;
    grid-row: 1;
}
.fourB {
    filter: brightness(125%);
}
.five, .five img {
    height: 195px;
    width: 305px;
}
.five {
    grid-column: 4;
    grid-row: 1;
  }
.six, .six img {
    height: 205px;
    width: 305px;
}
.six {
    grid-column: 4;
    grid-row: 1;
    align-self: flex-end;
  }
.boxImg {
    margin: 0 45px 40px 0;
    box-shadow: 0px 0px 15px var(--darkGrey);
    border-radius: 20px;
}
.boxImg img {
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
.boxImg div {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 305px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}
.boxImg p {
    padding: 5px 0 0 20px;
    font-weight: 800;
}
#activityContent a:hover {
    box-shadow: 0px 0px 10px var(--Blue);
}
/* End activityContent */
/* footer */
footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--Grey);
}
footer h3 {
    margin: 0;
}
footer div:first-child {
    margin: 50px auto auto 50px;
}
footer div {
    margin: 50px auto auto 20px;
}
footer div ul {
    padding: 0;
    list-style: none;
    text-decoration: none;
}
footer div ul li {
    padding-bottom: 15px;
}
footer div ul li a {
    font-weight: 500;
    color: black;
}
/* End footer */



/* mobile */
@media only screen and (max-width: 375px) {
    /* header */
    #barreDeTitre {
        height: 130px;
        padding: 0;
        margin: 0;
    }
    #mainNav {
        left: 0;
        top: 82px;
        width: 375px;
        height: 48px;
        position: absolute;
    }
    #logoReservia {
        left: 0;
        padding: 22px 0 18px 20px;
    }
    #barreDeTitre a.register {
        height: 65px;
        padding: 40px 20px 0 0;
    }
    #mainNav a.ancre {
        width: 100%;
        height: 48px;
        padding: 15px 0 15px 0;
        border-bottom: 3px solid var(--Grey);
    }
    #mainNav a.ancre:hover {
        padding: 15px 0 15px 0;
        border-bottom: 3px solid var(--Blue);
        border-top: 0px solid var(--Blue);
    }
    /* End header */
    /* searchContent */
    /* searchBar */
    #searchContent {
        padding: 35px 0 0 20px;
    }
    #searchContent h1 {
        width: 335px;
        font-size: 1.35em;
        margin: 0;
    }
    #searchContent p {
        margin: 15px 0;
    }
    .buttonDesktop {
        display: none;
    }
    #searchBar {
        padding: 20px 0;
    }
    #searchBar input {
        width: 245px;
        font-size: 1.1em;
    }
    #searchBar button {
        left: -15px;
        bottom: -2px;
        border-radius: 15px;
        width: 50px;
        height: 50px;
    }
    /* End searchBar */
    /* filter */
    #buttonFilter p:first-child {
        margin-bottom: 0;
        width: 300px;
    }
    #buttonFilter {
        margin: 0 0 20px 0;
        height: 240px;
        flex-wrap: wrap;
    }
    #buttonFilter i {
        height: 46px;
    }
    #buttonFilter div {
        margin: 0 10px 0 0;
    }
    #buttonFilter div p {
        font-size: 1em;
    }
    #bfLove p {
        padding: 0 13px;
    }
    #bfAnimal p {
        padding: 0 15px 0 13px;
    }
    /* End filter */
    /* infoSearch */
    #infoSearch p {
        margin: 0
    }
    #infoSearch i {
        width: 25px;
    }
    /* End infoSearch */
    /* End searchContent */
    
    /* mainContent */
    #mainContent, #activityContent {
        display: none;
    }
    /* End mainContent */
    /* activityContent */
    
    /* End activityContent */
    /* footer */
    footer {
        display: inherit;
    }
    footer div:first-child {
        padding: 50px 0 12px 30px;
        margin: 50px 0 0 0;
    }
    footer div {
        padding: 12px 0 0 30px;
        margin: 0;
    }
    footer div:last-of-type {
        padding-bottom: 19px;
    }
    /* End footer */
}
/*End mobile*/
/* tablet */
@media only screen and (min-width: 376px) and (max-device-width : 1024px) {
}
/* End tablet */
/* desktop */
@media only screen and (min-width: 1025px) {
    .buttonMobile {
        display: none;
    }
}
/* End desktop */